nav {
  display: flex; /* Use flexbox for layout */
  background-color: #cfddd8;
  justify-content: space-between; /* Space between left and right */
  align-items: center;
  text-align: center; /* Center items vertically */
  overflow: hidden;
  background: linear-gradient(
    45deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 10px 10px 10px 0px;
  box-shadow: 0px -52px 227px 3px rgba(133, 126, 133, 1);
}

nav .home {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.search-container {
  width: 500px;

  margin-top: 15px;
  margin-left: 30%;
}
nav .Profile {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.input-search-container {
  display: flex;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0;
  height: 200%;
  transition:
    transform 0.3s ease,
    box-shadow 0.5s;
}

.input-search-container:hover {
  overflow: visible;
  box-shadow: 0px 32px 131px -3px rgba(23, 7, 23, 1);
  transform: translateY(5px) scale(1.5);
}

nav .center-content {
  flex-grow: 1; /* Allow this section to grow and take up available space */
  text-align: center; /* Center the content in this section */
}
.search-img {
  width: 15px;
  height: 15px;
}
.search-button {
  border: medium none;
  background-image: none;
  background: transparent;

  background-color: transparent;
}

.notifications-img {
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-right: 30px;
}
.profile-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  object-fit: cover;
}
.profile-link {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.profile-container {
  display: flex;
  margin-right: 10px;
}

.home-text {
  color: black;
  padding-left: 10px;
  text-decoration: none;
  font-size: 27px;
  padding-left: 10px;
  font-weight: 400;

  font-family: "Impact", sans-serif;
}

.logo-img {
  width: 30px;
  height: 30px;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  height: 30px;
}
.home-link:hover {
  cursor: pointer;
  color: #000000;
  background: none;
}
.search-button:hover {
  cursor: pointer;
  scale: 1.1;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #2196f3;
  color: white;
}
.sidebar {
  padding: 0;
  width: 73.5px;
  position: fixed;
  box-shadow: 0px -82px 207px -73px rgb(207 221 216);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100%;
  overflow: hidden;
}

.sidebar-img {
  width: 20px;
  height: 20px;
}
.sidebar-link {
  margin-left: 7px;
  display: block;
  color: black;
  text-decoration: none;
  padding: 20px;
  width: 20px;
  height: 20px;
  background-color: #cad0ce;
  border-radius: 30%;
  margin-top: 15px;
}
.sidebar-link:hover {
  cursor: pointer;
  background-color: #d2d4d3;
  background: none;
}
.search-input {
  border: 2px solid rgb(181, 174, 174);
  border-radius: 13px;
  padding-left: 9.5px;
  width: 500px;
  height: 23px;
}
.search-input:focus {
  outline: none;
  border: 0.5px solid rgb(123, 117, 117);
}
/* Active/current link */

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
