.logoContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.spinningLogo {
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}