.content {
  margin-left: 74px;
  padding: 10px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Ровно 5 колонок */
  column-gap: 25px;
  row-gap: 9px;
  /* Расстояние между элементами */
}
