body,
html {
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between; /* Space between left and right */
  align-items: center;
  text-align: center; /* Center items vertically */
  overflow: visible;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  position: fixed; /* Закрепляем навигацию */
  top: 0; /* Прикрепляем к верхней части экрана */
  width: 100%; /* Занимает всю ширину экрана */
  z-index: 1000; /* При необходимости, чтобы быть поверх других элементов */
}

body {
  padding-top: 60px; /* Добавляем отступ сверху, равный высоте nav */
}

nav .homeLink {
  color: black;
  text-align: center;
  text-decoration: none;
  margin-right: 0px;
  font-size: 17px;
}

.searchContainer {
  width: 500px;
  margin-top: 15px;
  margin-left: 30%;
}

nav .profile {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.inputSearchContainer {
  display: flex;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0;
  height: 200%;
  transition:
    transform 0.3s ease,
    box-shadow 0.5s;
}

.inputSearchContainer:hover {
  overflow: visible;
  box-shadow: 0px 32px 131px -3px rgba(23, 7, 23, 1);
  transform: translateY(5px) scale(1.5);
}

nav .centerContent {
  flex-grow: 1; /* Allow this section to grow and take up available space */
  text-align: center;
}

.searchImg {
  width: 15px;
  height: 15px;
}

.searchButton {
  border: medium none;
  background-image: none;
  background-color: transparent;
}

.notificationsImg {
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-right: 30px;
}

.profileImg {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  object-fit: cover;
}

.profileLink {
  display: inline-block;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profileContainer {
  display: flex;
  margin-top: 5px;
  margin-right: 35px;
}

.homeText {
  color: black;
  padding-left: 10px;
  text-decoration: none;
  font-size: 27px;
  font-weight: 400;
  font-family: "Impact", sans-serif;
}

.logoImg {
  width: 50px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.homeLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  height: 30px;
}

.homeLink:hover {
  cursor: pointer;
  color: #000000;
  background: none;
}

.searchButton:hover {
  cursor: pointer;
  scale: 1.1;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #2196f3;
  color: white;
}

/* Стили для переключателя */
.switch {
  display: flex; /* Для правильного выравнивания */
  align-items: center;
  justify-content: center;
  margin-left: 20px; /* Добавим отступ слева, чтобы слайдер не был прямо у края */
}

/* Прячем чекбокс */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Стиль для слайдера */
.slider {
  position: relative;
  cursor: pointer;
  width: 60px; /* Ширина слайдера */
  height: 34px; /* Высота слайдера */
  background-color: #ccc; /* Цвет фона в неактивном состоянии */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px; /* Скругляем углы */
  margin-right: 20px;
  box-shadow: 0 0px 15px rgba(32, 32, 32, 0.24); /* Тень слайдера */
}

/* Стиль для круглой кнопки слайдера */
.slider:before {
  content: "";
  position: absolute;
  height: 26px; /* Высота кнопки */
  width: 26px; /* Ширина кнопки */
  left: 4px; /* Отступ слева от края слайдера */
  top: 4px; /* Отступ сверху */
  border-radius: 50%; /* Делаем круглой */
  background-color: white;
  background: url("https://i.ibb.co/FxzBYR9/night.png") no-repeat center; /* Иконка ночной темы */
  background-size: 16px 16px; /* Размер иконки */
  transition: 0.4s;
}

/* Стиль при переключении (когда checkbox включен) */
input:checked + .slider {
  background-color: #2196f3; /* Цвет фона при активации */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3; /* Тень при фокусе */
}

/* Стиль для круглой кнопки при переключении */
input:checked + .slider:before {
  transform: translateX(26px); /* Перемещение кнопки вправо */
  background: url("https://i.ibb.co/7JfqXxB/sunny.png") no-repeat center; /* Иконка светлой темы */
  background-size: 16px 16px; /* Размер иконки */
}

/* Скругление слайдера */
.slider.round {
  border-radius: 34px;
}

/* Скругление кнопки */
.slider.round:before {
  border-radius: 50%;
}

.searchInput {
  border: 2px solid rgb(96, 84, 96);
  border-radius: 7px; /* Прямоугольные углы */
  padding: 10px 7px;
  overflow-y: hidden; /* Увеличенный внутренний отступ */
  width: 500px;
  height: 15px; /* Увеличенная высота для удобства ввода */
  font-size: 18px; /* Увеличенный размер шрифта */
  transition:
    border-color 0.3s,
    box-shadow 0.3s; /* Плавный переход */
  background-color: rgba(240, 248, 255, 0.5); /* Легкий фон при фокусировке */
}

/* Активное/текущее состояние */
.searchInput:focus {
  outline: none;
  border-color: rgb(130, 110, 135); /* Цвет рамки при фокусировке */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусировке */
  background-color: rgba(240, 248, 255, 0.5); /* Легкий фон при фокусировке */
}
