.videoItem {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid rgb(96, 84, 96);
  border-radius: 8px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  align-items: flex-start;
  text-align: left;
  border-radius: 8px;
}
.videoItem:hover {
  cursor: pointer;
}

.videoItem img {
  width: 320px; /* Ширина изображения заполняет контейнер */
  height: 170px; /* Фиксированная высота изображения */
  object-fit: cover;
  border-radius: 8px;
}

a {

  color: black;

  text-decoration:double ;
  border: none ;
}
p {
  margin: 8px 0 0 0;
  padding: 0;
}